
* {
    margin: 0;
    padding: 0;
    color: black;
}

#content {
    max-width: 400px;
    margin: auto;
    left: 1%;
    right: 1%;
    position: absolute;
}

p > a {
    text-decoration: none;
    color: black;
}

p > a:hover {
    font-weight: bold;
}
